



.paragraph{
    margin: 20px 20px 20px 20px;
    padding: 20px;
    width: 500px;
    background: rgba(0, 0, 0, 0.664);
    border-radius: 10px;
    
}

.middleSection {
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.mainBody {
    
    background-image: radial-gradient(circle, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.979)), url(Martial_Arts.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 1000px;
    padding-top: 40px;

    
}

.whatIsSenshi {
    padding-bottom: 40px;
    margin: 0px;
}

