

.aboutLowerPart {
    background-color: rgba((0, 0, 0, 0), 0, 0);
    height: 550px;
    
}

.paragraph{
    border: 2px solid white;
    margin: 20px 20px 20px 20px;
    padding: 20px;
    width: 500px;
    background: rgba(0, 0, 0, 0.589);
    
}

.middleSection {
    padding: 20px;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.mainBody {
    
    background-image: radial-gradient(circle, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.979)), url(Martial_Arts.jpg);
    background-position: center center;
    background-size: 100% 140%;
    background-repeat: no-repeat;
}

