
.fullPage{
    height: 100%;
    height: auto
    ;
    
}

.schoolPicture{
    /* border: 2px solid white; */
    margin: 20px 25px 20px 25px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    height: 100%;
    
}

.instructor{
    max-width: 100%;
    max-height: 100%;
}

.schoolContainer {
    /* border: 2px solid white; */
    margin: 20px 25px 20px 25px;
    background-color: rgba(0, 0, 0, 0.664);
    height: auto;
    border-radius: 10px;
}

.upperContainer{
    /* border: 2px solid white; */
    margin: 20px 20px 20px 20px;
    background-color: rgba(0, 0, 0, 0.664);
    border-radius: 10px;
}

.lowerContainer{
    /* border: 2px solid white; */
    margin: 20px 20px 20px 20px;
    background-color: rgba(0, 0, 0, 0.664);
    height: auto;
    border-radius: 10px;

}

.schoolInformation{
    /* border: 2px solid white; */
    margin: 20px 20px 20px 20px;
    background-color: rgba(0, 0, 0, 0.664);
    height: auto;
    padding: 10px;
}

.reviews{
    border: 2px solid white;
    margin: 20px 20px 20px 20px;
    background-color: black
}

.schoolContact{
    border: 2px solid white;
    margin: 20px 20px 20px 20px;
    background-color: black
}

.instrucPicture{
    /* border: 2px solid white; */
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: black;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    flex: center;
}

.bottomPage{
    background: black;
    height: 40px;
}

.picture2{
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    height: 300px;
}

.japanBack {
    vertical-align: top;
    background-image: radial-gradient(circle, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.747)), url(AsianSchool.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 30px;
    margin: none;
    padding-bottom: 40px;
}

@media (min-width: 700px) {

    .schoolPicture {
        width: 538px;
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .schoolContainer {
        width: 538px;
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .instructor{
        max-width: 100%;
        max-height: 100%;
        flex: center;
    }

    .instrucPicture{
        /* border: 2px solid white; */
        margin: 20px 25px 20px 25px;
        background-color: black;
        width: 150px;
        height: 150px;
        border-radius: 10px;
    }

    .superDiv {

        display: flex;
        justify-content: space-around;
        height: 100%;
    }

    .instructorName{
        margin-top: 40px;
    }
}