

.upperBar {
    margin: 10px;
    padding: 5px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.664);
    border-radius: 10px;
}

.profilePic {
    border: 2px solid white;
    margin: 10px;
    padding: 2px;
}

.accountName {
    border: 2px solid white;
    margin: 10px;
    padding: 5px;
    width: 120px;
}

.accountRank {
    border: 2px solid white;
    margin: 10px;
    padding: 5px;
}

.middleBar {
    margin: 10px;
    padding: 10px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.664);
    border-radius: 10px;

}

.lowerBar {
    margin: 10px;
    padding: 10px;
    height: 300px;
    margin-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.664);
    border-radius: 10px;

}

.userPicture {
    max-width: 100%;
    max-height: 100%;
}

.lowerSection {
    height: 50px;
    color: rgba(0, 0, 0, 0);

}

.mySchools {
    background-color: rgba(0, 0, 0, 0.644);
    width: auto;
    height: 280px;
    overflow: scroll;
    
}

.myFavoriteSchools {
    background-color: rgba(0, 0, 0, 0.644);
    width: auto;
    height: 280px;
    overflow: scroll;
}

.fistPhoto {
    background-image: radial-gradient(circle, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.747)), url(fists.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-bottom: 50px;
}

.createSchoolBtn {
    width: 100px;
    height: 50px;
    font-family: 'Donegal One', 'Serif';
    background-color: black;
    color: white;
    border-radius: 10px;
    border: none;
}

.createSchoolBtn:hover {
    background-color: white;
    color: black;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


/* .editBtn {
    background-image: url(edit_icon.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
} */

@media (min-width: 500px) {
        
    .upperBar{
        width: 532px;
        display: flex;
        margin: auto;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .middleBar{
        width: 525px;
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .lowerBar {
        width: 525px;
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .userPicture{
        width: 250px;
    }

    .profilePic{
        width: 200px;
    }
}