
body {
    height: 100%;
    margin: 0;
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: radial-gradient(circle, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.747)), url(kickSunset.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.loginBar{
    background-color: rgba(0, 0, 0, 0.747);
    padding-bottom: 40px;
    border-radius: 10px;
    
}

.lowerPart {
    
    background-color: rgba(255, 255, 255, 0);
    background-size: auto; 
    position: absolute; top: 0; left: 0;

}

.upperPart {
    background-color: rgba(0, 0, 0, 0);
    height: 125px;
}

.mainTitle {
    text-decoration: none;
    color: rgb(150, 0, 0);
    margin-bottom: 80px;
    margin-top: 100px;
    background-color: rgba(0, 0, 0, 0.616);
    
}

.pictureDiv {
    
    background-image: radial-gradient(circle, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.747)), url(kickSunset.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}


.journey{
    color: white;
    margin-bottom: 80px;
    margin-top: 50px;
    font-size: 30px;
}

.loginBtn {
    margin-bottom: 30px;
    width: 100px;
    height: 50px;
    font-family: 'Donegal One', 'Serif';
    background-color: black;
    color: white;
    border-radius: 10px;
    border: none;

}

.loginBtn:hover {
    background-color: white;
    color: black;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}





@media (min-width: 360px) {
    .loginBar {
        width: 275px;
        display: flex;
        flex-direction: column;
        height: 100%;
        margin: auto;
        
    }

    .mainTitle {
        font-size: 60px;
    }


}