
body {
    height: 100%;
    margin: 0;
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.loginBar{
    border: 2px solid white;
    margin: auto;
    background-color: black
}

.lowerPart {
    
    background-color: black;
}

.upperPart {
    background-color: black;
    height: 125px;
}

.mainTitle {
    text-decoration: none;
    color: rgb(150, 0, 0);
    margin-bottom: 50px;
    margin-top: 0px;
    background-color: rgba(0, 0, 0, 0.616)
}

@media (min-width: 360px) {
    .loginBar {
        width: 275px;
        display: flex;
        flex-direction: column;
        height: 100%;
        margin: auto;
        
    }

    .mainTitle {
        font-size: 60px;
    }


}