
body {
    height: 100%;
    margin: 0;
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.loginBar{
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.747);
    
}

.lowerPart {
    height: 175px;
    background-color: rgba(0, 0, 0, 0);
}

.upperPart {
    background-color: rgba(0, 0, 0, 0);
    height: 125px;
}

.mainTitle {
    text-decoration: none;
    color: rgb(150, 0, 0);
    margin-bottom: 50px;
    margin-top: 0px;
    background-color: rgba(0, 0, 0, 0.616);
    
}

.pictureDiv {
    
    background-image: radial-gradient(circle, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.747)), url(kickSunset.jpg);
    background-position: center center;
    background-size: 100% 160%;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.journey{
    color: white
}





@media (min-width: 360px) {
    .loginBar {
        width: 275px;
        display: flex;
        flex-direction: column;
        height: 100%;
        margin: auto;
        
    }

    .mainTitle {
        font-size: 60px;
    }


}